@font-face {
  font-family: "Mine";
  src: url(../assets/font/Minecraft.ttf) format("truetype");
}
@font-face {
  font-family: "Mono";
  src: url(../assets/font/VCR_OSD_MONO_1.001.ttf) format("truetype");
}
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mine', sans-serif;
  color: #784831;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
}
div.container h1#titulo{
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  font-size: 5rem !important;
  margin-left: 0;
}
img{
  vertical-align: middle;
  margin-right: 2%;
  margin-top: 1%;
}
div.container button{
  font-size: 1.5rem;
  padding: 10px 20px;
  letter-spacing: 3px;
  background: #e1d096;
  border: 3px solid #784831;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.3s;
}
div.container button:hover{
  background: #784831;
  border: 3px solid #e1d096;
  color: #e1d096;
}
.directions {
  width: 500px;
}
.directions h3{
  width: 70%;
  font-weight: 100;
  font-family: 'Mono';
}
.directions h2{
  width: 70%;
  font-weight: 100;
  font-family: 'Mono';
}
ul{
  list-style: none;

}
span{
  font-family: 'Mono';
}